<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Computer_Hardware_Department.Properties.Settings.Computer_Hardware_DepartmentConnectionString1"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;C:\Users\Danilda\Desktop\IS-Computer-Hardware-Department-master\Computer Hardware Department\Computer Hardware Department.mdf&quot;;Integrated Security=True;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
